<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %><%= subtitle %></p>
  <a href="http://www.cs.sonoma.edu/~haderman/">CS355</a>
    <br /><a href=”staticfile>Relative Link Example</a>
    <br /><a href=”http://localhost:3000/public/staticfile”>Absolute Link Example</a>
    <br /><a href="/template_example?f_name=Darin &l_name= Brown">Template Example</a>
    <br /><a href="/resume?first_name=Darin &last_name= Brown &major_name= Computer Science">Resume</a>
  </body>
</html>
