<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Static HTML File</title>
</head>
<body>
<span style="font-weight:bold"> <%=first_name %> <%=last_name%> <%=major_name%> </span>
</body>
</html>