<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Static HTML File</title>
</head>
<body>
<span style="font-weight:bold">Hello, <%=f_name %> <%=l_name%>!</span>
</body>
</html>